PUID=
PGID=
TZ=
HOSTNAME=
USER=

REPO_DIR=/path/to/repo
MEDIA_DIR=/path/to/media
APPDATA_DIR=/path/to/appdata

CF_API_TOKEN=
DUCKDNS_TOKEN=

PAPERLESS_DB_USER=
PAPERLESS_DB_NAME=
PAPERLESS_DB_PASSWORD=
